@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*------custom dots slick-------------*/
.custom-dots-slick {
  position: absolute;
  /* bottom: -25px; */
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.custom-dots-slick li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
}
.custom-dots-slick li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: black;
  border: 0;
  outline: none;
  background: transparent;
}
.custom-dots-slick li button:before {
  font-family: "slick";
  font-size: 0.6rem;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: #1d764a;
  -webkit-font-smoothing: antialiased;
}
.custom-dots-slick li.slick-active button:before {
  font-size: 0.8rem;
  color: #1d764a;
  opacity: 1;
}
/*custom home carousel dot slick*/
.home-custom-dots-slick li {
  position: relative;
  display: inline-block;
  width: 2px;
  height: 80px;
  padding: 0;
  cursor: pointer;
}
.home-custom-dots-slick li.slick-active {
  opacity: 1;
  background-color: white;
}
